.DS_Store
data/tmp/*
data/*_unnamed
# pictures/*
pictures/tmp/*
playground.pde
results/*
data/point_set/tmp/*
data/ring_set/tmp/*
data/triangle_mesh/tmp/*
data/hub/tmp/*
data/gap/tmp/*
data/camera/tmp/*
data/edge_circle/tmp/*
data/lattice/tmp/*

applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.autosave